.error-message {
  color: red;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}
.error-message.fade-out {
  opacity: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #f4f4f4;    
}

nav a.active {
  color: red;
  font-weight: bold;
}